<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inventarios{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Puedes agregar aquí enlaces a CSS, Bootstrap, etc. -->
</head>
<body>
    <header>
        <!-- Aquí puedes agregar un menú de navegación, logo, etc. -->
    </header>
    <main>
        {% block content %}{% endblock %}
        {% block content2 %}{% endblock %}
    </main>
    <footer>
        <!-- Aquí puedes agregar información del pie de página, como derechos de autor, enlaces, etc. -->
    </footer>
    <!-- Bootstrap JS y Popper.js (opcional, pero necesario para algunos componentes de Bootstrap como los modales) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
