{% extends "base.html" %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<h1>Productos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lote</th>
            <th>Descripcion</th>
            <th>Caducidad</th>
            <th>Cantidad</th>
            <th>Clave</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.lote }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.caducidad }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.cve_art }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block content2 %}
<h1>Facturas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No. Factura</th>
            <th>Marca</th>
            <th>Descripcion</th>
            <th>Lote</th>
            <th>Cantidad</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas %}
        <tr>
            <td>{{ factura.no_factura }}</td>
            <td>{{ factura.marca }}</td>
            <td>{{ factura.descripcion }}</td>
            <td>{{ factura.lote }}</td>
            <td>{{ factura.cant }}</td>
            <td>{{ factura.fecha_emision }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

