{% extends "base.html" %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<h1>Productos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.descripcion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

